# render.yaml
# IAC
services:
  - type: web
    name: todo-api-backend

    # Usa Docker
    env: docker

    # Repositório público
    repo: https://github.com/lucassenacode/todo-api
    branch: main

    # Plano
    plan: free

    # Health check para o Render saber que a API está ok
    healthCheckPath: /health

    # Grupo de variáveis de ambiente configurado no painel do Render
    envVarGroups:
      - todo-api-secrets
